// *{outline: 1px solid rgba(255, 0, 0, 0.4);}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,700italic,600italic,500italic,500,200);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);;
$color_plomo: #F1F1F1;
$texto_cuadros:'Raleway', sans-serif;
$texto_mayor:'Open Sans', sans-serif;
$texto_opcion:'Poiret One', cursive;
$color_rojo: #E48080;
$color_negro: #434343;
$color_intermedios: #535353;
$color_iconos: #666666;

body{
	font-family: $texto_opcion;
}
.cabecera,.tercero,.decimo{
	background-color: $color_plomo;
}
h1,h2,h3,h4,h5{
	font-family: $texto_opcion;
	font-weight: bolder 800;
}
a{
	text-decoration: none;
	color: $color_rojo;
}
.precio{
	color: $color_rojo;
}
.cabecera{
	color: $color_intermedios;
	font-family: $texto_mayor;
	padding-top: 15px;
	padding-bottom: 10px;
}
.cabecera .list-menu{
	margin-top: -15px;
}
.cabecera a{
	color: $color_intermedios;
	font-family: $texto_mayor;
	font-size: 15px;	
}
.cabecera i{
	margin-left: 7px;
	margin-right: 7px;
}
.cabecera img{
	display: inline;
	margin-right: 7px;
}
.cabecera button{
	border: none;
	background-color: $color_plomo;
}
.segundo{
	text-align: center;
	font-family: $texto_mayor;
	margin-top: 50px;
	margin-bottom: 50px;
}
.open{
	margin-bottom: 20px;
}
.segundo h4{
	margin-bottom: 0;
}
.segundo .reloj{
	font-size: 50px;
	margin-left: 100px;

}
.tercero li{
	text-align: center;
	padding-top: 30px;
}
.tercero a{
	color: #000;
	padding: 30px 10px;
	margin-bottom: 0;
	font-weight: bold;
}
.tercero a:hover{
	background-color: $color_rojo;
	color: #fff;
	text-decoration: none;
}
.flotante{
	background-color: #fff;
	width: 250px;
	position: absolute;
    right: 100px;
    margin-top: 5px;
}
.opa{
	width: 250px;
	background-color: #fff;
	position: absolute;
    right: 50px;
    z-index: 1;
    opacity: 0.8;
}
.compras{
	background-color: #000;
	color: #fff;
	width: 150px;
	padding: 2px;
	text-align: center;
	margin-left: 250px;
}
.compras h3{
	margin-bottom:0;
}
.ima-dos{
	margin-top: 20px;
}
.opcion ul{
	color: #969696;
}
.lineas-separador{
	margin: 40px auto;
	height: 7px;
	border-top: 2px dashed $color_plomo;
	border-bottom: 2px solid $color_plomo;
}
.opcion{
	position: absolute;
    z-index: 1;
    background-color: #fff;
    margin: 40px 455px;
    font-size: 20px;
}
.opcion a{
	text-decoration: none;
	color: #aaa;
	font-family: $texto_cuadros;
	
}
.opcion a:hover{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.imagenes img{
	width: 250px;
	margin: 2px auto;
}
.imagenes p{
	font-size: 20px;
	font-family: $texto_cuadros;
}
.imagenes i{
	font-size: 20px;
	color: $color_plomo;
	background-color: #fff;
}
.imagenes i:hover{
	font-size: 25px;
	color: #000;
}
.sexto{
	background-image: url(../images/client-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 20px auto;
}
.client{
	margin: 60px auto;
}
.septimo{
	margin-top: 20px;
}
.dos{
	margin: 40px 395px;
}
.car-dos p{
	font-size: 20px;
	font-family: $texto_mayor;
	font-weight: bold;
}
.car-dos button{
	color: #fff;
	background-color: #000;
	margin-top: 20px;
	font-family: $texto_mayor;
	padding: 15px;
	border-radius: 0;
}
.car-dos button:hover{
	background-color: $color_rojo;
	border: 1px solid $color_rojo;
	color: #fff;
	font-family: $texto_mayor;
}
.fa-star{
	font-size: 20px;
	color: $color_plomo;
	background-color: #fff;
}
.fa-star:hover{
	font-size: 20px;
	color: #000;
}
.tres{
	margin: 40px 510px;
}
.octavo-imag{
	font-family: $texto_mayor;
}
.octavo-imag h5{
	font-weight: bold;
}
.octavo.octavo-imag a{
	color: $color_rojo;
}
.noveno i{
	font-size: 40px;
	padding: 15px;
	border-right: 1px solid $color_plomo;
}
.decimo{
	font-family: $texto_cuadros;
	color: #aaa;
}
.decimo{
	color: $color_negro;
}
.redes .fa{
	background-color: #fff;
	font-size: 20px;
	padding: 10px;
	margin-top: 10px;
}
.antefin{
	margin: 20px auto;
} 
.antefin a{
	text-decoration: none;
	color: #aaa;
	font-family: $texto_cuadros;
	margin-left: 7px;
}
.antefin a:hover{
	text-decoration: none;
	color: $color_rojo;
	font-family: $texto_cuadros;
}
.antefin li{
	margin: 8px; 
	font-size: 14px;
	list-style: none;
}
.antefin p{
	display: inline;
	margin-left: 15px;
	text-align: right;
}
.fa.fa-map-marker,.fa.fa-phone,.fa.fa-envelope{
	border-radius: 100%;
	background-color: #fff;
	font-size: 20px;
	height: 30px;
	width: 30px;
	padding: 6px;
}
.piepagina{
	background-color: $color_negro;
}
.pie{
	margin: 25px auto;
	color: #fff;
	font-family: $texto_mayor;
}
.ultimo{
	color: $color_rojo;
}
.pie img{
	max-width: 100%;
}
.venta{
	position: relative;
	z-index: 1;
	bottom: 150px;
	float: top;
}
.new{
	color:#fff;
	background-color: $color_rojo;
	width: 50px;
	padding: 5px;	
}
.negro{
	background-color: $color_negro;
	margin-bottom: 5px;
}
.carrusel .new{
	color:#fff;
	background-color: $color_rojo;
	width: 50px;
	padding: 5px;
	position: relative;
	z-index: 1;
	bottom: 200px;
	left: 10px;
}
.contacto{
	background-image: url(../images/slider2.jpg);
	background-size: cover;
	background-position: center;
}
.contacto2{
	background-color: #000;
	opacity: 0.7;
	padding-top: 180px;
	padding-bottom: 180px;
	
}
.map-formu{
	// margin-top: 50px;
	margin-bottom: 50px;
}
.formu-cont{
	margin-top: 15px;
}
.boton{
	float: right;
	margin-right: -15px;
}
.grande h1{
	color: #fff;
	padding: 20px 30px;
	background-color: $color_rojo;	
}
.grande{
	position: absolute;
	z-index: 1;
	top: -200px;
}
.grande li{
	list-style: none;
}
.grande a{
	text-decoration: none;
	color: #fff;
	font-family: $texto_cuadros;
	font-size: 20px;
	margin-bottom: 10px;
}
.grande a:hover{
	text-decoration: none;
	font-size: 25px;
	margin-bottom: 10px;
	color: $color_rojo;
}

@media screen and(max-width:750px){
	.cabecera{
		margin-top: 0;
		height: 100px;
	}
	.segundo{
		display: inline-block;
		text-align: center;
		padding: 20px 280px;
	}
	.segundo .col-md-4{
		margin-bottom: 20px;
	}
	.segundo .reloj{
		margin-left: 0;
	}
	.tercero .compras{
		margin-top: -60;
		display: inline-block;
		float: right;
	}
	.cuarto .opa{
		height: 200px;
		margin-right: -150px;
	}
	.cuarto .opa img{
		height: 50px;
	}
	.cuarto p{
		margin: 0;
	}
	.opcion{
	position: absolute;
    z-index: 1;
    background-color: #fff;
    margin: 40px 240px;
    font-size: 15px;
	}
	.dos{
	margin: 40px 195px;
	}
	.tres{
	margin: 40px 320px;
	}
	.venta{
	position: relative;
	z-index: 1;
	bottom: 50px;
	float: top;
	font-size: 7px;
	}
	.new{
		color:#fff;
		background-color: $color_rojo;
		width: 25px;
		padding: 5px;	
	}
	.negro{
		background-color: $color_negro;
		margin-bottom: 5px;
	}
	.decimo .antefin{
		font-size: 10px;
	}
}

		