Doctype
html(lang="en")
	head
		title Fashion Accesoris
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="")

		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")
	body
		.decimo
			.container
				.row.antefin
					.col-xs-5
						.col-xs-8
							.row
								h4 ACCESORIES
								P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quasi error suscipit odit tempore distinctio reiciendis magni, ab totam quia quas, non, illo nemo voluptatum. 
							.row.redes
								.col-xs-2
									div.fa.fa-facebook
								.col-xs-2
									div.fa.fa-twitter
								.col-xs-2
									div.fa.fa-rss
								.col-xs-2
									div.fa.fa-skype
								.col-xs-2
									div.fa.fa-dribbble
						.col-xs-4 
							//- margin-left:-40px;
							h4 MY ACCOUNT
							ul
							li.fa.fa-caret-right
								a(href="#") Order History
							li.fa.fa-caret-right
								a(href="#") Wish List
							li.fa.fa-caret-right
								a(href="#") Privacy Policy
							li.fa.fa-caret-right
								a(href="#") Newlester
					.col-xs-7
						.col-xs-3
							h4 INFORMATION
							ul
							li.fa.fa-caret-right
								a(href="#") Order History
							li.fa.fa-caret-right
								a(href="#") Wish List
							li.fa.fa-caret-right
								a(href="#") Privacy Policy
							li.fa.fa-caret-right
								a(href="#") Newlester
						.col-xs-3
							h4 EXTRAS
							ul.list-menu
							li.fa.fa-caret-right
								a(href="#") Order History
							li.fa.fa-caret-right
								a(href="#") Wish List
							li.fa.fa-caret-right
								a(href="#") Privacy Policy
							li.fa.fa-caret-right
								a(href="#") Newlester
						.col-xs-6
							h4 ABOUT US
								ul.list-unstyle
								li
									i.fa.fa-map-marker 
									p 8901 Marmora Road, Glasgow D04 89 Gr, New York
								li
									i.fa.fa-phone
									p (0123)456789 (0987)654321
								li
									i.fa.fa-envelope
									p admin@bootexperts.com
		.piepagina
			.container
				.row.pie
					.col-xs-6
						p Copyright
							i.fa.fa-copyright 2015<span class="ultimo">BootExperts</span> All rigth reserved
									
					.col-xs-6
						img.img-responsive.pull-right(src="images/payment.png")