Doctype
html(lang="en")
	head
		title Fashion Accesoris
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="")

		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")
	body
		include header.jade
		
		.cuarto
			div.flotante
						div.opa.thumbnail
							.row
								.col-xs-5
									img(src="images/cart-1.jpg")
								.col-xs-7
									p Aliquam Consequat
									p 1 x $500
							.row
								.col-xs-5
									img(src="images/cart-2.jpg")
								.col-xs-7
									p Aliquam Consequat
									p 1 x $200
							.row
								.col-xs-6
									p Sub-Total
									p Eco Tax (-2.00)
									p VAT (20%)
								.col-xs-6.pull-right
									p.precio $700
									p.precio $7.00
									p.precio $40.00
			div#caorusel-example-generic.carousel.slide(data-ride="carousel")
				ol.carousel-indicators
					li.active(data-target="#carousel-example-generic" data-slide-to="0")
					li(data-target="#carousel-example-generic" data-slide-to="1")
				div.carousel-inner(role="listbox")
					div.item.active
						img.img-responsive(src="images/slider1.jpg" alt="true")
						div.carousel-caption
					div.item
						img.img-responsive(src="images/slider2.jpg" alt="true")
						div.carousel-caption
		.quinto
			.container
				.row.ima-dos
					.col-xs-5
						img.img-responsive(src="images/banner1.jpg")
					.col-xs-7
						img.img-responsive(src="images/banner2.jpg")
				.row
					div.opcion.text-center
						ul.fa.fa-chevron-left.list-unstyle.list-inline
							li
								a(href="#") LATEST
							li
								a(href="#") BETSELLER
							li
								a(href="#") SALE
							i.fa.fa-chevron-right

					div.lineas-separador
				.row.carrusel
					div#caorusel-example-generic.carousel.slide(data-ride="carousel")
						ol.carousel-indicators
							li.active(data-target="#carousel-example-generic" data-slide-to="0")
							li(data-target="#carousel-example-generic" data-slide-to="1")
						div.carousel-inner(role="listbox")
							div.item.active
								div.imagenes.pri-imag
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/a1.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/b1.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/c1.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/d1.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
								div.carousel-caption
							div.item
								div.imagenes.sec-imag
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/a2.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/b2.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/c2.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
									.col-xs-3.thumbnail
										.row.text-center
											img.thumbnail.img-responsive(src="images/d2.jpg")
											.new
												small NEW
										.row.text-center
											p Deliver Wide
											span
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											p.precio $218.00
								div.carousel-caption
		.sexto
			.container
				.row.client
					.col-xs-2
						img.img-responsive(src="images/client1.jpg")
					.col-xs-2
						img.img-responsive(src="images/client2.jpg")
					.col-xs-2
						img.img-responsive(src="images/client3.jpg")
					.col-xs-2
						img.img-responsive(src="images/client4.jpg")
					.col-xs-2
						img.img-responsive(src="images/client5.jpg")
					.col-xs-2
						img.img-responsive(src="images/client6.jpg")
		.septimo
			.container
				.row
					div.opcion.text-center.dos
						ul.fa.fa-chevron-left.list-unstyle.list-inline
							li
								a(href="#") CLOTHING
							li
								a(href="#") EQUIPEMENTS
							li
								a(href="#") JEWELLERY
							i.fa.fa-chevron-right

					div.lineas-separador
				.row.car-dos
					.col-xs-4
						.col-xs-6.prendas
							img.thumbnail.img-responsive(src="images/a2.jpg")
							.venta
								.new.negro
									small SALE
								.new
									small NEW
						.col-xs-6
							p Deliver Wide
							p.precio $218.00
							span
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							button.btn.btn-default
								i.fa.fa-shopping-cart ADD TO CART
					.col-xs-4
							.col-xs-6
								img.img-responsive.thumbnail(src="images/d2.jpg")
								.venta
									.new.negro
										small SALE
									.new
										small NEW
							.col-xs-6
								p Deliver Wide
								p.precio $218.00
								span
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								button.btn.btn-default
									i.fa.fa-shopping-cart ADD TO CART
					.col-xs-4
							.col-xs-6
								img.img-responsive.thumbnail(src="images/g2.jpg")
								.venta
									.new.negro
										small SALE
									.new
										small NEW
							.col-xs-6
								p Deliver Wide
								p.precio $218.00
								span
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								button.btn.btn-default
									i.fa.fa-shopping-cart ADD TO CART
				.row.car-dos
					.col-xs-4
						.col-xs-6
							img.img-responsive.thumbnail(src="images/h1.jpg")
							.venta
									.new.negro
										small SALE
									.new
										small NEW
						.col-xs-6
							p Deliver Wide
							p.precio $218.00
							span
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							button.btn.btn-default
								i.fa.fa-shopping-cart ADD TO CART
					.col-xs-4
						.col-xs-6
							img.img-responsive.thumbnail(src="images/c2.jpg")
							.venta
									.new.negro
										small SALE
									.new
										small NEW
						.col-xs-6
							p Deliver Wide
							p.precio $218.00
							span
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							button.btn.btn-default
								i.fa.fa-shopping-cart ADD TO CART
					.col-xs-4
						.col-xs-6
							img.img-responsive.thumbnail(src="images/e2.jpg")
							.venta
									.new.negro
										small SALE
									.new
										small NEW
						.col-xs-6
							p Deliver Wide
							p.precio $218.00
							span
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
							button.btn.btn-default
								i.fa.fa-shopping-cart ADD TO CART
		.octavo
			.container
				.row
					div.opcion.text-center.tres
						ul.fa.fa-chevron-left.list-unstyle.list-inline
							li
								a(href="#") CLOTHING
							i.fa.fa-chevron-right

					div.lineas-separador
				.row.octavo-imag
					.col-xs-3
							img.img-responsive(src="images/blog2.jpg")
							h5 THE SAMPLE HEADING
							p 27/11/2015
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							p.read 
								a(href="#") Read more...
					.col-xs-3
							img.img-responsive(src="images/blog1.jpg")
							h5 THE SAMPLE HEADING
							p 27/11/2015
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							p.read 
								a(href="#") Read more...	
					.col-xs-3
							img.img-responsive(src="images/blog2.jpg")
							h5 THE SAMPLE HEADING
							p 27/11/2015
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							p.read 
								a(href="#") Read more...
					.col-xs-3
							img.img-responsive(src="images/blog3.jpg")
							h5 THE SAMPLE HEADING
							p 27/11/2015
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							p.read 
								a(href="#") Read more...
		.noveno
			.container
				.row
					.col-xs-4
						div.col-xs-12.thumbnail
							.col-xs-4.text-center
								i.fa.fa-phone-square
							.col-xs-8
								h5 qqqqqqqqqqqqq
								p qqqqqqqqqqqqq
					.col-xs-4
						div.col-xs-12.thumbnail
							.col-xs-4
								i.fa.fa-plane
							.col-xs-8
								h5 qqqqqqqqqqqqq
								p qqqqqqqqqqqqq
					.col-xs-4
						div.col-xs-12.thumbnail
							.col-xs-4
								i.fa.fa-money
							.col-xs-8
								h5 qqqqqqqqqqqqq
								p qqqqqqqqqqqqq
		
		include footer.jade



											
									







						
						




					


								





